---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} technicallysavi. <a href="https://github.com/savannahloberger/digitalGarden">This blog is (going to be) open source</a>! <3
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
